<div class="container store-input-wrapper">
	<div class="row">
		<div class="col-xs-5">
		  <input  class="form-control" placeholder="Enter Key " type="text" [(ngModel)]="storeKey" value={{storeKey}}/>
		</div>
		<div class="col-xs-5">
			<input class="form-control" placeholder="Enter Value " type="text" [(ngModel)]="storeValue" value={{storeValue}}/>
		</div>
		<div class="col-xs-2">
		  <button class="btn btn-primary" (click)="addStore()">Submit</button>
		</div>
   </div>
</div>
