<div class="App">
  <div class="store-wrapper">
    <app-header></app-header>
    <app-store-input></app-store-input>
    <div *ngFor="let store of storeService.getStores()">
      <app-store-item [store]="store"></app-store-item>
    </div>
      <button class="btn btn-primary" (click)="clearStore()">Clear </button>

  </div>
</div>
