.storeWrapper {
  border-bottom: 1px solid #efefef;
  text-align: left;
  margin-bottom: 10px;
}
.removeStore {
  margin-right: 30px;
  margin-bottom: 30px;
  outline: none;
  box-shadow: none;
  border-width: 3px;
  border-radius: 4px;
  border-style: solid;
  padding: 8px;
  color: rgba(203, 20, 32, 0.4);
  border-color: rgba(203, 20, 32, 0.4);
  background-color: transparent;
}
