<div class="storeWrapper">
	 <div class="container">
		<div class="row">
				<div class="col-xs-4 col-md-2">
					<button class="removeStore" (click)="removeStore()">remove</button>
				</div >
				<div class="col-xs-4">key: {{store.key}}</div>
				<div class="col-xs-4">value: {{store.value}}</div>
		</div>
	 </div>
</div>

